body {
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  background-color: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(190, 186, 186);
  box-shadow: 0 0 1px rgba(255,255,255,0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.3);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  padding-bottom: 5px;
}

i {
  position: relative;
  left: -30px;
}

#second-iframe {
  position: relative;
  top: 3px;
  margin-left: 3px;
}

#top-bar {
  background-color: white;
  width: 100vw;
  padding: 16px 0;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  position: fixed;
}

#logo-block {
  display: flex;
}

#right-content {
  display: flex;
  position: relative;
  top: 10px;
}

#right-content:hover .item-dropdown {
  display: block;
}

#site-logo {
  width: 40px;
  height: 40px;
}

#block-dropdown {
  font-family: 'Poppins', sans-serif;
  border-top: 2px solid rgb(170, 210, 54);
  background-color: white;
  box-shadow: 0 2px 5px #ccc;
  padding: 24px 16px;
}

#sub-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 6px 34px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  top: -7px;
  margin-right: 24px;
}

.menu-items {
  margin-right: 30px;
  cursor: pointer;
}

.item-dropdown {
  display: none;
}

/* Section One Styling */
#maintext-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  box-sizing: border-box;
}

#sec1-heading {
  width: 70%;
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 9.5px;
  /* line-height: 1.2; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec1-desc {
  width: 80%;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #8b8b99;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Secton Two Styling */
#step-container {
  width: 100%;
  height: 83vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  display: grid;
  grid-template-areas: 'first second third fourth';
  box-sizing: border-box;
  text-align: center;
  color: white;
}

#first-step {
  background-color: #5acda6;
  grid-area: first;
}

#second-step {
  background-color: #91ac41;
  grid-area: second;
}

#third-step {
  background-color: #e4b476;
  grid-area: third;
}

#fourth-step {
  background-color: #f69dad;
  grid-area: fourth;
}

.step-heading {
  position: relative;
  top: 120px;
}

.step-content > i {
  font-size: 96px;
  position: relative;
  left: 2px;
  /* margin-top: 40%; */
  position: relative;
  top: 120px;
  transition: all 0.3s;
  color: white;
}

.step-content:hover > i {
  transform: scale(1.1, 1.1);
}

.step-content > p {
  font-family: 'Poppins', sans-serif;
  font-size: 13.5px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  text-align: center;
  width: 69%;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 40%; */
  position: relative;
  top: 120px;
}

/* Section Three Styling */
#section-three {
  width: 100%;
  background-color: #f7eee2;
}

#head-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#head-text > p:first-of-type {
  color: #91ac41;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin: 0;
  padding-top: 120px;
}

#head-text > h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1.6px;
}

#head-text > p:last-of-type {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
}

#item-container {
  /* display: grid;
  grid-template-areas: 'first second third fourth'; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.item {
  width: 21.5%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.item > h3{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.item > i {
  background-color: #e3b375;
  width: 60px;
  font-size: 60px;
  color: white;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 34px;
  border-radius: 65px;
  position: relative;
  left: 2px;
  text-align: center;
  transition: all 0.3s;
}

.item:hover > i {
  transform: scale(1.1, 1.1);
}

.item > p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
}

/* Section Four Styling */
#section-four {
  width: 100%;
}

#head-text-2 {
  width: 55%;
}

#head-text-2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#head-text-2 > p:first-of-type {
  color: #91ac41;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin: 0;
  padding-top: 120px;
}

#head-text-2 > h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1.6px;
}

#head-text-2 > p:last-of-type {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
}

#testimonial-container {
  width: 82%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.img-card {
  background-color: #f5f6fb;
  border-radius: 45px 0 45px 45px;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  margin-right: 24px;
  margin-bottom: 0;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 24px;
}

.img-card > img {
  border-radius: 50%;
  width: 80px;
}

.img-card > p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  color: #8b8b99;
}

.img-card > p:last-of-type {
  margin-top: 0;
  font-size: 12px;
}

.img-card > h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}

/* Section Five Styling */
#section-five {
  width: 100%;
  margin-bottom: 0;
}

#subscribe-block {
  display: flex;
  width: 100%;
}

#subscribe-img {
  width: 67%;
}

#subscribe-img > img {
  width: 100%;
  height: 100%;
}

#aside-block {
  flex-direction: column;
  width: 33%;
  background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png");
  /* background-repeat: no-repeat; */
  /* background-position-x: left;
  background-position-y: bottom; */
  background-position: center;
}

#aside-content {
  width: 46%;
  margin-left : auto;
  margin-right: auto;
  margin-top: auto;
}

#aside-content > h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 40px;
  font-style: bold;
  margin-bottom: 16px;
  padding-top: 60px;
  /* letter-spacing: 2px; */
}

#aside-content > p {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;
  color: #8b8b99;
  margin-top: 0;
  line-height: 1.5;
  word-spacing: 2px;
  margin-bottom: 60px;
}

#subscribe-input {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
}

#subscribe-btn {
  background-color: #f69dad;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 18px 36px;
  font-size: 14px;
  margin-top: 16px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#subscribe-btn:hover {
  background-color: white;
  border: 1px solid #f69dad;
  color: #f69dad;
}

/* Section Six Styling */
#section-six {
  width: 100%;
  background-color: rgb(246, 252, 250);
}

#num-container {
  /* background-color: #91ac41; */
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.numbers > h2{
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 0;
}

.numbers > p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #5acda6;
  margin-top: 0;
}

/* Section Seven Styling */
video {
  width: 100%;
}

#sev-container {
  width: 60%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

#small-line {
  width: 96px;
  height: 1px;
  background-color: #e4b476;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

#vid-head > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 500;
  color: #8b8b99;
}

/* Section Eight Styling */
#section-eight {
  width: 100%;
}

#contact-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

#contact-us > p:first-of-type {
  color: #91ac41;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin-bottom: 0;
}

#contact-us > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

#contact-us > p:last-of-type {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin-top: 0;
}

#email-head > p:first-of-type {
  color: #91ac41;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin-bottom: 0;
}

#email-head > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

#email-head > p:last-of-type {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin-top: 0;
}

.contact-block {
  width: 70%;
}

.contact-block:first-of-type {
  margin-right: 10%;
  width: 95%;
}

.contact-block:last-of-type {
  width: 60%;
  margin-right: 5%;
}

.contact-desc {
  width: 300px;
}

.contact-desc > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}

.contact-desc > p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 1px;
  margin-top: 0;
  line-height: 1.7;
}

.input-item {
  margin-bottom: 16px;
}

.input-item > input{
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #e0e0e2;
  letter-spacing: 1px;
}

.input-item > textarea {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #e0e0e2;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.sub-btn > button{
  background-color: rgb(170, 210, 54);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 14px 36px;
  font-size: 14px;
  margin-top: 16px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 100px;
}

/* Footer Styling */
#footer {
  width: 100%;
  text-align: center;
  padding: 16px;
  background-color: #232323;
  color: white;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



@media(max-width: 1024px) {
  /* Section Two Styling */
  .step-heading {
    position: relative;
    top: 30px;
  }

  .step-content > i {
    position: relative;
    top: 45px;
  }

  .step-content > p {
    position: relative;
    top: 25px;
  }
}



@media(max-width: 768px) {
  /* Section Two Styling */
  .step-heading {
    position: relative;
    top: 20px;
  }

  .step-content > i {
    position: relative;
    top: 35px;
  }

  .step-content > p {
    position: relative;
    top: 2px;
    font-size: 12px;
  }

  /* Section Three Styling */
  #item-container {
    width: 90%;
  }
}



@media (max-width: 600px){
  #maintext-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    box-sizing: border-box;
  }
  
  #sec1-heading {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 9.5px;
    /* line-height: 1.2; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #sec1-desc {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Secton Two Styling */

  #step-container {
    width: 100vw;
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
  }

  .step-content {
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  .step-heading {
    position: relative;
    top: 38px;
    /* margin-bottom: 0; */
  }

  .step-content > i {
    font-size: 80px;
    position: relative;
    top: 50px;
  }

  .step-content > p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    text-align: center;
    width: 85%;
    font-weight: 400;
    position: relative;
    top: 30px;
  }
  
  /* Section Three Styling */
  #section-three {
    width: 100%;
    background-color: #f7eee2;
    padding-top: 100px;
  }

  #fourth-item {
    padding-bottom: 60px;
  }

  #head-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #head-text > p:first-of-type {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    padding-top: 120px;
  }

  #head-text > h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1.6px;
  }

  #head-text > p:last-of-type {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
  }

  #item-container {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
  }

  .item > h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  .item > i {
    background-color: #e3b375;
    width: 60px;
    font-size: 60px;
    color: white;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 34px; */
    border-radius: 65px;
    text-align: center;
    transition: all 0.3s;
  }

  .item:hover > i {
    transform: scale(1.1, 1.1);
  }

  .item > p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
  }

  /* Section Four Styling */
  #section-four {
    width: 100%;
  }

  #head-text-2 {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
  }

  #head-text-2 > p:first-of-type {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    padding-top: 50px;
  }

  #head-text-2 > h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1.6px;
  }

  #head-text-2 > p:last-of-type {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
    padding-bottom: 50px;
  }

  #test-cont {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  #testimonial-container {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;
    text-align: center;
  }

  .img-card {
    background-color: #f5f6fb;
    border-radius: 45px 0 45px 45px;
    width: 100%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 0;
    padding: 24px 16px 24px 16px;
    box-sizing: border-box;
  }

  .img-card > img {
    border-radius: 50%;
    width: 80px;
  }

  .img-card > p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    color: #8b8b99;
  }

  .img-card > p:last-of-type {
    margin-top: 0;
    font-size: 12px;
  }

  .img-card > h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  /* Section Five Styling */
  #section-five {
    width: 100%;
    margin-bottom: 0;
  }

  #subscribe-block {
    display: block;
    width: 100%;
  }

  #subscribe-img {
    width: 100%;
  }

  #subscribe-img > img {
    width: 100%;
    height: 100%;
  }

  #aside-block {
    width: 100%;
    background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png");
    background-position: cover;
    box-sizing: border-box;
  }

  #aside-content {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 24px;
  }

  #aside-content > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    font-style: bold;
    margin-bottom: 16px;
    padding-top: 16px;
    /* letter-spacing: 2px; */
  }

  #aside-content > p {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 16px;
    color: #8b8b99;
    margin-top: 0;
    line-height: 1.5;
    word-spacing: 2px;
    margin-bottom: 60px;
  }

  #subscribe-block {
    padding-top: 24px;
  }

  #subscribe-input {
    background-color: white;
    border-radius: 4px;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
  }

  #subscribe-btn {
    background-color: #f69dad;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 18px 36px;
    font-size: 14px;
    margin-top: 16px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  #subscribe-btn:hover {
    background-color: white;
    border: 1px solid #f69dad;
    color: #f69dad;
  }

  /* Section Six Styling */
  #section-six {
    width: 100%;
    background-color: rgb(246, 252, 250);
  }

  #num-container {
    /* background-color: #91ac41; */
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .numbers {
    margin-right: 5px;
  }

  .numbers > h2{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .numbers > p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #5acda6;
    margin-top: 0;
  }

  /* Section Six Styling */
  #num-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  /* Section Seven Styling */ 
  video {
    width: 100%;
    margin-top: 0;
  }

  #sev-container {
    width: 90%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
  }
  
  #small-line {
    width: 96px;
    height: 1px;
    background-color: #e4b476;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 28px; */
  }
  
  #vid-head > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 500;
    color: #8b8b99;
  }

  /* Section Eight Styling */
  #contact-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }

  .contact-block {
    width: 90%;
  }

  .contact-block h2 {
    font-size: 16px;
  }

  .contact-block:last-of-type {
    width: 95%;
  }
}



@media(max-width: 425px) {
  #right-content {
    font-size: 10px;
    margin-left: 18px;
  }

  #sub-btn {
    margin-right: 0;
    font-size: 10px;
  }

  /* Section Two Styling */
  #third-step > p{
    position: relative;
    top: 8px;
  }

  .step-content i {
    font-size: 70px;
    position: relative;
    top: 30px;
  }

  .step-content > p {
    position: relative;
    top: 14px;
  }

  .step-heading {
    position: relative;
    top: 25px;
  }

  /* Third Section Styling */
  #section-three {
    padding-top: 30px;
  }

  #head-text {
    width: 95%;
  }

  #head-text > h3 {
    font-size: 38px;
  }

  #item-container {
    width: 95%;
  }

  /* Fourth Section Styling */
  #head-text-2 > h3 {
    font-size: 38px;
  }

  /* Fifth Section Styling */
  #subscribe-img {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  #aside-block {
    margin-top: 0;
  }

  /* Section Six Styling */
  #num-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  /* Section Eight Styling */
  .contact-block:last-of-type {
    width: 90%;
  }
}

@media(max-width: 375px) {
  /* Header Section */
  #top-bar {
    overflow: hidden;
  }

  #logo-block {
    margin-right: 35px;
  }

  #sub-btn {
    visibility: hidden;
  }

  /* Section Two Styling */
  #first-step > h3  {
    position: relative;
    top: 2px;
  }

  #first-step > p {
    position: relative;
    top: -16px;
  }

  #third-step > h3 {
    position: relative;
    top: 6px;
  }

  #third-step > p {
    position: relative;
    top: -16px;
  }

  /* Section Eight Styling */
  #contact-us > p:last-of-type {
    font-size: 14px;
  }

  #contact-us h2 {
    font-size: 28px;
  }

  #email-head h2 {
    font-size: 28px;
  }

  .contact-desc > p {
    font-size: 14px;
  }

}